.select-list{
    margin: 20px;
}

.selected-square{
    margin: 20px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}

.square{
    width: 300px;
    height: 300px;
    display: grid;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    margin: 10px;
}

.cell{
    background-color:  rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
